<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opção Supermercado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Opção Supermercado" class="header-logo">
            <h1>Opção Supermercado</h1>
        </div>
        <nav>
            <a href="{{ url_for('index') }}" class="button">Venda</a>
            <a href="{{ url_for('cadastrar') }}" class="button">Cadastrar Produto</a>
            <a href="{{ url_for('visualizar') }}" class="button">Visualizar Produtos</a>
            <a href="{{ url_for('buscar') }}" class="button">Buscar Preço</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2024 Opção Supermercado. Todos os direitos reservados.
    </footer>
</body>
</html>
